/*

para el logo uno
filter: invert(79%) sepia(55%) saturate(3136%) hue-rotate(0deg) brightness(105%) contrast(101%);

*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

@font-face {
    font-family: Good-Times;
    src: url(../fonts/good\ times\ rg.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

#inicio {
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url("../img/fondo1.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#inicio .contenido header {
    background-color: rgba(0,0,0,.8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top:0;
}

#inicio .contenido header .contenido-header{
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#logo {
    width: 40px;
    filter: invert(79%) sepia(55%) saturate(3136%) hue-rotate(0deg) brightness(105%) contrast(101%);
}

#logo2 {
    width: 380px;
}

.contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.contenido-header nav ul  li a{
    text-decoration: none;
    color: #ffffff;
    margin: 0 12px;
    font-weight: 400;
    font-family: 'Comfortaa', cursive;
    transition: .5s;
}

.contenido-header nav ul  li a:hover {
    color: #FFC300;
}

#icon-nav {
    display: none;
}

.redes {
    width: 100px;
    height: 40px;
    display: flex;
}

.redes div {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.redes a i {
    color: #FFC300;
    font-size: 1.3em;
    transition: .4s;
}

.redes a i:hover {
    color: #ffe17e;
    font-size: 2em;
}
.conteiner {
    max-width: 1300px;
    height: 100vh;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.conteiner-bienvenida {
    height: 200px;
}

.presentacion {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.bienvenida {
    margin-top: 150px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    color: #ffffff;
}

.presentacion .text h2 {
    font-size: 45px;
    margin-bottom: 25px;
    text-align: center;
}

.presentacion div {
    max-width: 40vw;
}

.imagen-presentacion {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.imagen-presentacion a{
    text-decoration: none;
    font-family: Comfortaa;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 20px 25px;
    border-radius: 50px;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

.imagen-presentacion a:hover{
    background-color: #ffc400;
}

.descripcion{
    max-width: 1100px;
    margin: 25px auto;
    font-size: 1.15em;
    text-align: center;
}